
body {
  display: flex;
  flex-flow: column;
  align-items: center;
}

main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

header {
  margin-top: 20px;
}

footer {
  margin-top: 30px;
  padding: 10px 0;
}

header h1 {
  font-size: 4em;
  margin-bottom: 10px;
}

header h2 {
  margin-bottom: 50px;
}

img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 130px;
}

ul {
  padding: 0;
}

#about  {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 90%; */
}

#bio {
  text-align: left;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
  /* grid-auto-columns: fit-content(400px); */
}

#projects article {
  padding: 10px 2.8%;
  overflow: visible;
}

#projects article h5 {
  font-size: .7em;
  margin: -30px 30px 8px 0;
  text-align: right;

}

.list {
  width: 80%;
  min-width: 80%;
  margin: 0 1% !important;
  padding: 0 2.8%;
  border-bottom: 1px solid black;
}

.content-width {
  width: 92%;
}

.center-content {
  text-align: center;
}

.about-content {
  margin-top: 20px;
  padding-bottom: 40px;
}

.about-content h2:first-of-type {
  padding-top: 30px;
}

.about-content p {
  padding: 10px 20px;
  width: 80%;
  margin: auto;
  font-size: 150%;
}

.about-content li {
  font-size: 150%;
}

.template, .icon-menu, #about{
  display: none;
}

#gh-list li p {
  font-size: 80%;
}
