.nav-item {
  display: inline;
  background-color: #999999;
  padding: 7px 3%;
  border: 1px solid black;
  border-radius: 3px;
  height: 20px;
}

.nav-link {
  text-decoration: none;
  padding-left: 1%;
}
