body {
    background-color:  #FFFFFF;
    margin: 0;
    padding: 0;
}

.project-item {
    border: 1px black solid;
    max-width: 200px;
    min-width: 80px;
    max-height: 300px;
    min-height: 120px;
    margin: 30px;
    padding: 10px;
}

.project-title {
    font-style:italic;
}



.template {
    display: none;
}
