body {
  background-color:  #363a3f;
  color: #164450;
  font-family: 'Nanum Gothic', sans-serif;
  /* font-family: 'Neuton', serif; */
}

header, footer{
  background-color: rgb(176, 181, 187);
  font-family: 'Nanum Gothic', sans-serif;
  /* font-family: 'Arimo', sans-serif; */
}

select {
  height: 1.7em;
}

#projects article {
  background-color: rgb(176, 181, 187);
}

a {
  color: #164450;
  text-decoration: none;
}

a:visited {
  color: #0c1113;
  text-decoration: none;
}

.shadow {
  box-shadow:3px 3px 8px black;
}

.bg-color-white {
  background-color: white;
}

.project-title {
  font-style:italic;
}
