body {
  background-color:  #183152;
  color: #183152;
  font-family: 'Neuton', serif;
}

header {
  background-color: #C4D7ED;
  font-family: 'Arimo', sans-serif;
}
select {
  height: 1.7em;
}

#projects article {
  background-color: #E1E6FA;
}

.shadow {
  box-shadow:3px 3px 8px black;
}

.bg-color-white {
  background-color: white;
}

.project-title {
  font-style:italic;
}
